<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.org.iopts.report.dao.piSummaryDAO">
    
    <select id="searchSummaryList" parameterType="hashmap" resultType="hashmap">
	<!--  SELECT DISTINCT 
    		A.*
		FROM (SELECT 
			F.GROUP_ID,
			F.HASH_ID, 
			F.PATH, 
			F.FID, 
			F.OWNER AS USER_ID, 
			F.TARGET_ID, 
			F.ACCOUNT, 
			CONCAT('"', F.PATH, '"') AS  PATH2,
			T.COMMENTS,
			T.NAME AS TARGET_NAME,
			T.AP_NO,
			T.PLATFORM,
			IFNULL((SELECT AG.AGENT_CONNECTED_IP FROM pi_agents AG WHERE T.NAME = AG.AGENT_NAME AND T.AP_NO = AG.AP_NO LIMIT 1), '-') AS IP,
			IFNULL(DATE_FORMAT(F.CREDATE, '%Y-%m-%d %H:%i:%s'), '') AS CREDATE,
			DATE_FORMAT(F.REGDATE, '%Y-%m-%d %H:%i:%s') AS REGDATE,
			IFNULL(DATE_FORMAT(F.DELDATE, '%Y-%m-%d %H:%i:%s'),'') AS DELDATE,
			
			<foreach collection="patternList" item="cnt" separator="," close="," >
               	SUM(CASE WHEN CP.PATTERN_IDX = #{cnt} THEN S.MATCH_COUNT ELSE 0 END) AS TYPE#{cnt}
            </foreach>
            SUM(S.MATCH_COUNT) AS TYPE
		FROM pi_find F, (SELECT TARGET_ID,AP_NO,COMMENTS,NAME,PLATFORM FROM PI_TARGETS) T, (SELECT TARGET_ID, AP_NO,OBJECT_ID,MATCH_COUNT,DATA_TYPE FROM pi_summary) S, PI_CUSTOM_PATTERN CP
		WHERE T.TARGET_ID = F.TARGET_ID
			AND T.TARGET_ID = S.TARGET_ID
		  	AND T.AP_NO = F.AP_NO
		  	AND T.AP_NO = S.AP_NO
		  	AND F.HASH_ID = S.OBJECT_ID		  	
		  	AND F.CREDATE BETWEEN CONCAT(#{SCH_FROM_CREDATE},' 00:00:00') AND CONCAT(#{SCH_TO_CREDATE},' 23:59:59')		# 기존 조회조건 : 검출일
		 	 AND UPPER(S.DATA_TYPE) LIKE CONCAT('%', CP.pattern_code, '%')
		  <if test="SCH_TARGET != null and SCH_TARGET != ''">
			AND T.TARGET_ID = #{SCH_TARGET_ID}				# 기존 조회조건 : 호스트
			AND T.AP_NO 	= #{SCH_AP_NO}				# 기존 조회조건 : 호스트
		  </if>	
		  <if test="SCH_PATH != null and SCH_PATH != ''">
		  	AND F.PATH LIKE CONCAT('%',#{SCH_PATH},'%')			# 기존 조회조건 : 경로
		  </if>
		GROUP BY F.HASH_ID) A 
		WHERE 1= 1
		HAVING TYPE != 0
		ORDER BY A.TARGET_ID, A.PATH -->
		<!-- SELECT 
    		A.*
		FROM (SELECT 
			F.GROUP_ID,
			F.HASH_ID, 
			F.PATH, 
			F.FID, 
			F.OWNER AS USER_ID, 
			F.TARGET_ID, 
			F.ACCOUNT, 
			#CONCAT('"', F.PATH, '"') AS  PATH2,
			T.COMMENTS,
			T.NAME AS TARGET_NAME,
			T.AP_NO,
			T.PLATFORM,
			IFNULL(T.AGENT_CONNECTED_IP, '-') AS IP,
			IFNULL(DATE_FORMAT(F.CREDATE, '%Y-%m-%d %H:%i:%s'), '') AS CREDATE,
			DATE_FORMAT(F.REGDATE, '%Y-%m-%d %H:%i:%s') AS REGDATE,
			IFNULL(DATE_FORMAT(F.DELDATE, '%Y-%m-%d %H:%i:%s'),'') AS DELDATE,
			S.DATA_TYPE,
			S.MATCH_COUNT

		FROM  (SELECT GROUP_ID,HASH_ID,PATH,FID,OWNER,TARGET_ID,ACCOUNT,CREDATE,REGDATE,DELDATE,AP_NO from pi_find F
				WHERE 
					F.CREDATE BETWEEN CONCAT(#{SCH_FROM_CREDATE},' 00:00:00') AND CONCAT(#{SCH_TO_CREDATE},' 23:59:59')		# 기존 조회조건 : 검출일
				<if test="SCH_PATH != null and SCH_PATH != ''">
					AND F.PATH LIKE CONCAT('%',#{SCH_PATH},'%')			# 기존 조회조건 : 경로
				</if>
		 		) F,
			 (SELECT T.TARGET_ID,T.AP_NO,T.COMMENTS,T.NAME,T.PLATFORM,A.AGENT_CONNECTED_IP FROM pi_targets T
					LEFT OUTER JOIN (SELECT AGENT_NAME,AP_NO,AGENT_CONNECTED_IP FROM pi_agents) A ON A.agent_name = T.NAME AND A.ap_no = T.AP_NO
					
				WHERE 1=1 
				<if test="SCH_TARGET != null and SCH_TARGET != ''">
					AND T.TARGET_ID = #{SCH_TARGET_ID}				# 기존 조회조건 : 호스트
					AND T.AP_NO 	= #{SCH_AP_NO}				# 기존 조회조건 : 호스트
				</if>		
			)T

			, (SELECT TARGET_ID, AP_NO,OBJECT_ID,MATCH_COUNT,DATA_TYPE FROM pi_summary) S
		WHERE T.TARGET_ID = F.TARGET_ID
			AND T.TARGET_ID = S.TARGET_ID
		  	AND T.AP_NO = F.AP_NO
		  	AND T.AP_NO = S.AP_NO
		  	AND F.HASH_ID = S.OBJECT_ID		
		) A 
		WHERE 1= 1
		ORDER BY A.TARGET_ID, A.PATH -->
		
		SELECT F.GROUP_ID,
					F.HASH_ID, 
					F.PATH, 
					F.FID, 
					F.OWNER AS USER_ID, 
					F.TARGET_ID, 
					F.ACCOUNT, 
					#CONCAT('"', F.PATH, '"') AS  PATH2,
					T.COMMENTS,
					T.NAME AS TARGET_NAME,
					T.AP_NO,
					T.PLATFORM,
					IFNULL(T.AGENT_CONNECTED_IP, '-') AS IP,
					IFNULL(DATE_FORMAT(F.CREDATE, '%Y-%m-%d %H:%i:%s'), '') AS CREDATE,
					DATE_FORMAT(F.REGDATE, '%Y-%m-%d %H:%i:%s') AS REGDATE,
					IFNULL(DATE_FORMAT(F.DELDATE, '%Y-%m-%d %H:%i:%s'),'') AS DELDATE,
					CP.PATTERN_IDX,
					S.MATCH_COUNT
				FROM 
					(SELECT T.TARGET_ID,T.AP_NO,COMMENTS,NAME,PLATFORM,A.AGENT_CONNECTED_IP FROM pi_targets T
						LEFT OUTER JOIN (SELECT AGENT_NAME,AP_NO,AGENT_CONNECTED_IP FROM pi_agents) A ON A.agent_name = T.NAME AND A.ap_no = T.AP_NO
						WHERE T.TARGET_USE =  'Y'
						<if test="SCH_TARGET != null and SCH_TARGET != ''">
							AND T.TARGET_ID = #{SCH_TARGET_ID}				# 기존 조회조건 : 호스트
							AND T.AP_NO 	= #{SCH_AP_NO}				# 기존 조회조건 : 호스트
						</if>	
					)
				 T , PI_CUSTOM_PATTERN CP, PI_SUMMARY S, PI_FIND F
				WHERE 1=1
				AND T.TARGET_ID = F.TARGET_ID
				AND T.TARGET_ID = S.TARGET_ID
				AND T.AP_NO = S.AP_NO
				AND T.AP_NO = F.AP_NO
				AND F.HASH_ID = S.OBJECT_ID
				AND INSTR(UPPER(S.DATA_TYPE), CP.PATTERN_CODE) > 0
				AND S.MATCH_COUNT > 0
		#		AND T.TARGET_USE = 'Y'
				AND F.CREDATE BETWEEN CONCAT(#{SCH_FROM_CREDATE},' 00:00:00') AND CONCAT(#{SCH_TO_CREDATE},' 23:59:59')		# 기존 조회조건 : 검출일
				<if test="SCH_PATH != null and SCH_PATH != ''">
					AND F.PATH LIKE CONCAT('%',#{SCH_PATH},'%')			# 기존 조회조건 : 경로
				</if>
    </select>
	
	<select id="searchPCSummaryList" parameterType="hashmap" resultType="hashmap">
		SELECT DISTINCT 
    		A.GROUP_ID, 	
		    A.TARGET_ID, 
			A.HASH_ID, 
			A.ACCOUNT, 
			A.PLATFORM, 
			CASE WHEN SUBSTRING(A.PLATFORM, 1, 5) = 'Apple' THEN A.MAC_NAME ELSE A.NAME END AS TARGET_NAME,
			A.PATH, # 경로
			IFNULL((CASE WHEN A.AP_NO = 0 THEN A.GROUP_NAME
				  WHEN A.AP_NO != 0 THEN TU.TEAM_NAME END), '') AS OFFICE_NM,
			A.COMMENTS, #코멘트
			A.OWNER AS USER_ID, # 사번
			A.AP_NO,
			(CASE WHEN TU.OWNER_CNT IS NULL 
					THEN 0
					ELSE TU.OWNER_CNT
			END ) AS OWNER_CNT,

			A.USER_NAME,				# 담당자 명
			TYPE1, # 주민번호
			TYPE2, # 외국인번호
			TYPE3, # 여권번호
			TYPE4, # 운전면허번호
			TYPE5, # 카드번호
			TYPE6, # 계좌번호
			TYPE7, # 전화번호
			TYPE8, # 휴대폰번호
			(A.TYPE1 + A.TYPE2 + A.TYPE3 + A.TYPE4 + A.TYPE5 + A.TYPE6 + A.TYPE7 + A.TYPE8) AS TYPE,		# 총개수

			IFNULL(A.CREDATE, '') AS CREDATE, # 검출일
			A.REGDATE, # 업데이트일
			DP.USER_NO AS ACCOUNT_USER_NO, # 기안자NO
			IFNULL((SELECT U.USER_NAME FROM PI_USER U WHERE U.USER_NO = DP.USER_NO LIMIT 1), '') AS ACCOUNT_USER_NM,	# 기안자
			IFNULL(DATE_FORMAT(A.REGDATE, '%Y-%m-%d %H:%i:%s'), '') AS D_P_C_G_REGDATE, # 기안일
			DP.OKUSER_NO AS OKUSER_NO,	# 결재자NO
			IFNULL((SELECT U.USER_NAME FROM PI_USER U WHERE U.USER_NO = DP.OKUSER_NO LIMIT 1), '') AS OK_ACCOUNT_USER_NM,	# 결재자
			(CASE WHEN DP.APPROVAL_STATUS='E' THEN '승인' WHEN DP.APPROVAL_STATUS ='D' THEN '반려' WHEN DP.APPROVAL_STATUS ='W' THEN '대기' ELSE '' END) AS APPROVAL_REGULT,
			DP.PROCESSING_FLAG,					# 개인정보 여부(정탐 오탐) 코드
			A.IP, 
			IFNULL(A.DELDATE, '') AS DELDATE, 
			A.USER_NAME,
			(CASE WHEN DP.PROCESSING_FLAG IN (1,2,3,4) THEN '정탐' WHEN DP.PROCESSING_FLAG IN (5,6,7) THEN '오탐' ELSE '미처리' END) AS PROCESSING_FLAG_TYPE,		# 개인정보 여부(정탐 오탐)
			(CASE WHEN (SELECT 'DMZ' FROM pi_dmz DMZ WHERE DMZ.DMZ_IP = A.IP LIMIT 1) = 'DMZ' THEN 'DMZ' ELSE 'NOTDMZ' END) AS DMZ,
			(SELECT H.REASON FROM PI_DATA_PROCESSING_GROUP G, PI_DATA_PROCESSING_CHARGE_GROUP H 
				WHERE G.IDX = DP.DATA_PROCESSING_GROUP_IDX AND G.DATA_PROCESSING_CHARGE_ID = H.DATA_PROCESSING_CHARGE_ID) AS D_P_C_G_REASON,	
			IFNULL((SELECT PROCESSING_FLAG_NAME FROM PI_DATA_PROCESSING_FLAG I WHERE I.PROCESSING_FLAG = DP.PROCESSING_FLAG), '') AS PROCESSING_FLAG_NAME,				# 조치방법
			(SELECT NEXT_DATE_REMEDI FROM PI_DATA_PROCESSING_GROUP G WHERE G.IDX = DP.DATA_PROCESSING_GROUP_IDX) AS D_P_G_NEXT_DATE_REMEDI,		
			(SELECT G.NOTE FROM PI_DATA_PROCESSING_GROUP G WHERE G.IDX = DP.DATA_PROCESSING_GROUP_IDX) AS NOTE,
			IFNULL((CASE WHEN DP.APPROVAL_STATUS IN ('E','D') THEN DATE_FORMAT(DP.OKDATE, '%Y-%m-%d %H:%i:%s') ELSE NULL END), '') AS OKDATE
		FROM (SELECT
			F.GROUP_ID, F.HASH_ID, F.PATH, F.FID, F.OWNER, F.TARGET_ID, F.ACCOUNT, 
			T.COMMENTS,
			(SELECT TG.NAME FROM PI_TARGET_GROUP TG WHERE ST.GROUPID = TG.IDX) AS GROUP_NAME,
			T.AP_NO,
			T.NAME,
			IF(SUBSTRING(T.PLATFORM, 1, 5) = 'Apple', SUBSTRING_INDEX(T.NAME, '.', -1), SUBSTRING_INDEX(T.NAME, '.', 1)) AS MAC_NAME,
			IF(SUBSTRING(T.PLATFORM, 1, 5) = 'Apple', SUBSTRING_INDEX(T.NAME, '.', 1), null) AS MAC_SERIAL,
			T.PLATFORM,
			(SELECT AG.AGENT_CONNECTED_IP FROM pi_agents AG WHERE T.NAME = AG.AGENT_NAME LIMIT 1) AS IP,
			U.USER_NAME AS USER_NAME,
			DATE_FORMAT(F.CREDATE, '%Y-%m-%d %H:%i:%s') AS CREDATE,
			DATE_FORMAT(F.REGDATE, '%Y-%m-%d %H:%i:%s') AS REGDATE,
			DATE_FORMAT(F.DELDATE, '%Y-%m-%d %H:%i:%s') AS DELDATE,
			SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'SOUTH KOREAN RRN') > 0 THEN S.MATCH_COUNT ELSE 0 END) AS TYPE1,
			SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'SOUTH KOREAN FOREIGNER NUMBER') > 0 THEN S.MATCH_COUNT ELSE 0 END)	AS TYPE2,
			SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'SOUTH KOREAN PASSPORT') > 0 THEN S.MATCH_COUNT ELSE 0 END) AS TYPE3, 
		    SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'SOUTH KOREAN DRIVER LICENSE NUMBER') > 0 THEN S.MATCH_COUNT ELSE 0 END) AS TYPE4,
		    SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'ACCOUNT NUMBER') > 0 THEN S.MATCH_COUNT ELSE 0 END)	AS TYPE5,
		    SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'VISA') > 0 THEN S.MATCH_COUNT ELSE 0 END) +
		    SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'MAESTRO') > 0 THEN S.MATCH_COUNT ELSE 0 END) +
		    SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'PRIVATE LABEL CARD') > 0 THEN S.MATCH_COUNT ELSE 0 END) +
		    SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'DINERS CLUB') > 0 THEN S.MATCH_COUNT ELSE 0 END) +
		    SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'JCB') > 0 THEN S.MATCH_COUNT ELSE 0 END) +
		    SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'LASER') > 0 THEN S.MATCH_COUNT ELSE 0 END) +
		    SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'CHINA UNION PAY') > 0 THEN S.MATCH_COUNT ELSE 0 END) +
	  		SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'DISCOVER') > 0 THEN S.MATCH_COUNT ELSE 0 END) +
			SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'TROY') > 0 THEN S.MATCH_COUNT ELSE 0 END) +
		    SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'MASTERCARD') > 0 THEN S.MATCH_COUNT ELSE 0 END) +
		    SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'AMERICAN EXPRESS') > 0 THEN S.MATCH_COUNT ELSE 0 END) AS TYPE6,
		   <!--  SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'SOUTH KOREAN LOCAL PHONE NUMBER') > 0 THEN S.MATCH_COUNT ELSE 0 END)	AS TYPE7, -->
		    SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'EMAIL') > 0 THEN S.MATCH_COUNT ELSE 0 END)	AS TYPE7,
			(SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'SOUTH KOREAN MOBILE PHONE NUMBER') > 0 THEN S.MATCH_COUNT ELSE 0 END) +
			 SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'SOUTH KOREAN PHONE NUMBER') > 0 THEN S.MATCH_COUNT ELSE 0 END))		AS TYPE8
		FROM (SELECT 
				SL.TARGET_ID, 
				SL.AP_NO
			  FROM pi_scheduled_location SL
			  WHERE SL.STATUS IN ('completed', 'stopped', 'interrupted')
			  	<if test="SCH_DATE == 0">
					AND DATE_FORMAT(FROM_UNIXTIME(SL.updated), '%Y-%m-%d') BETWEEN CONCAT(#{SCH_FROM_CREDATE}) AND CONCAT(#{SCH_TO_CREDATE})
					<!-- AND DATE_FORMAT(FROM_UNIXTIME(SL.updated), '%Y-%m-%d %h:%i:%s') BETWEEN CONCAT(#{SCH_FROM_CREDATE}, '00:00:00') AND CONCAT(#{SCH_TO_CREDATE},'23:59:59') -->
				</if>
				<!-- <if test="SCH_DATE == 1">
					AND DATE_FORMAT(FROM_UNIXTIME(SL.updated), '%Y-%m-%d') BETWEEN CONCAT(#{SCH_FROM_D_P_C_G_REGDATE}) AND CONCAT(#{SCH_TO_D_P_C_G_REGDATE})
					AND DATE_FORMAT(FROM_UNIXTIME(SL.updated), '%Y-%m-%d %h:%i:%s') BETWEEN CONCAT(#{SCH_FROM_D_P_C_G_REGDATE}, '00:00:00') AND CONCAT(#{SCH_TO_D_P_C_G_REGDATE},'23:59:59')
				</if> -->
			  GROUP BY SL.TARGET_ID, SL.AP_NO) SL,
				pi_find F, pi_targets T
			LEFT OUTER JOIN skt_toms ST 		ON T.NAME = ST.HOSTNM
			LEFT OUTER JOIN PI_TARGET_USER TU	ON TU.TARGET_ID = T.TARGET_ID AND T.AP_NO = TU.AP_NO
			LEFT OUTER JOIN PI_USER U 			ON U.USER_NO = TU.USER_NO
			LEFT OUTER JOIN PI_GROUP G			ON U.INSA_CODE = G.INSA_CODE
			, pi_summary S
		WHERE SL.TARGET_ID = F.TARGET_ID
			AND SL.AP_NO = F.AP_NO
		  	AND F.HASH_ID = S.OBJECT_ID
			AND SL.TARGET_ID = T.TARGET_ID
			AND SL.AP_NO = T.AP_NO
			AND SL.TARGET_ID = S.TARGET_ID
			AND SL.AP_NO = S.AP_NO
		  <if test="SCH_DATE != null and SCH_DATE != ''">
		  	AND F.CREDATE BETWEEN CONCAT(#{SCH_FROM_CREDATE},' 00:00:00') AND CONCAT(#{SCH_TO_CREDATE},' 23:59:59')		# 기존 조회조건 : 검출일
		  </if>	
		  <if test="SCH_GROUP != null and SCH_GROUP != ''">
			AND G.TEAM_NAME = #{SCH_GROUP}
		  </if>	
		  <if test="SCH_TARGET != null and SCH_TARGET != ''">
			AND T.NAME = #{SCH_TARGET}				# 기존 조회조건 : 호스트
		  </if>
			AND T.AP_NO != 0
			<!-- <if test= "AP_NO == 1">
				AND G.TEAM_NAME = #{SCH_GROUP}
				AND T.AP_NO != 0			
			</if> -->
		<!-- <if test="SCH_OBJECT != null and SCH_OBJECT != '' and SCH_OBJECT == 'group' ">
			<if test="GROUP_ID != null and GROUP_ID != ''">
				AND T.TARGET_ID IN (
					with recursive cte AS ( 
					SELECT 
						idx, 
						NAME, 
						up_idx, 
						1 AS LEVEL 
					from pi_target_group 
					where idx = 64 
					union ALL 
						SELECT 
							p.idx, 
							p.name,
							p.up_idx, 
							1+LEVEL as LEVEL 
						from pi_target_group p 
						INNER join cte on p.up_idx = cte.idx 
					)
					select T.TARGET_ID
					from cte, pi_targets t
					WHERE cte.idx = t.group_idx
					AND t.target_use = 'Y'
				)
			</if>
		</if>
		<if test="SCH_OBJECT != null or SCH_OBJECT != '' or SCH_OBJECT == 'host' ">
			<if test="SCH_TARGET != null and SCH_TARGET != ''">
				AND T.NAME LIKE CONCAT('%',#{SCH_TARGET},'%')			# 기존 조회조건 : 호스트
			</if>
		</if>
		<if test="SCH_PATH != null and SCH_PATH != ''">
			AND F.PATH LIKE CONCAT('%',#{SCH_PATH},'%')				# 기존 조회조건 : 경로명
		</if>
		<if test="SCH_OWNER != null and SCH_OWNER != ''">
			AND F.OWNER LIKE CONCAT('%',#{SCH_OWNER},'%')			# 추가 조회조건 : 담당자
		</if>
		<if test="SCH_OFFICE_CODE != null and SCH_OFFICE_CODE != ''">
			AND (SELECT U.INSA_CODE FROM PI_USER U WHERE U.USER_NO = F.OWNER) LIKE CONCAT('%',#{SCH_OFFICE_CODE},'%')		# 추가 조회조건 : 팀명	
		</if> -->	
		GROUP BY F.HASH_ID) A 
			LEFT OUTER JOIN pi_data_processing DP ON A.HASH_ID = DP.HASH_ID AND A.TARGET_ID = DP.TARGET_ID
			LEFT OUTER JOIN (SELECT 
					TU.TARGET_ID, TU.USER_NO, COUNT(TU.USER_NO) AS OWNER_CNT, U.USER_NAME, G.TEAM_NAME, TU.AP_NO
				FROM PI_TARGET_USER TU
				LEFT OUTER JOIN PI_USER U ON TU.USER_NO = U.USER_NO
				LEFT OUTER JOIN PI_GROUP G ON G.INSA_CODE = U.INSA_CODE
				GROUP BY TU.TARGET_ID
			) TU ON TU.TARGET_ID = A.TARGET_ID AND TU.AP_NO = A.AP_NO
		WHERE 1= 1
		<if test="SCH_PROCESSING_FLAG != null and SCH_PROCESSING_FLAG != ''">
			<if test="SCH_PROCESSING_FLAG != '-1'">
				AND DP.PROCESSING_FLAG = #{SCH_PROCESSING_FLAG} 		# 추가 조회조건 : 처리구분
			</if>
			<if test="SCH_PROCESSING_FLAG == '-1'">
				AND DP.PROCESSING_FLAG IS NULL		# 미처리 항목만 조회
			</if>
		</if>
		<!-- <if test="SCH_DATE == 1">
			AND DP.REGDATE BETWEEN CONCAT(#{SCH_FROM_D_P_C_G_REGDATE},' 00:00:00') AND CONCAT(#{SCH_TO_D_P_C_G_REGDATE},' 23:59:59')		# 추가 조회조건 : 기안일		조회조건 변경: 문서생성일->기안일 (프렌트리 전준현K 2019.10.15)
		</if> -->
		HAVING TYPE != 0
			
		ORDER BY A.TARGET_ID, A.PATH
	</select>
	
	<select id="searchPCSummaryRegDateList" parameterType="hashmap" resultType="hashmap">
		SELECT DISTINCT 
    		A.GROUP_ID, 	
		    A.TARGET_ID, 
			A.HASH_ID, 
			A.ACCOUNT, 
			A.PLATFORM, 
			CASE WHEN SUBSTRING(A.PLATFORM, 1, 5) = 'Apple' THEN A.MAC_NAME ELSE A.NAME END AS TARGET_NAME,
			A.PATH, # 경로
			IFNULL((CASE WHEN A.AP_NO = 0 THEN A.GROUP_NAME
				  WHEN A.AP_NO != 0 THEN TU.TEAM_NAME END), '') AS OFFICE_NM,
			A.COMMENTS, #코멘트
			A.OWNER AS USER_ID, # 사번
			A.AP_NO,
			(CASE WHEN TU.OWNER_CNT IS NULL 
					THEN 0
					ELSE TU.OWNER_CNT
			END ) AS OWNER_CNT,

			A.USER_NAME,				# 담당자 명
			TYPE1, # 주민번호
			TYPE2, # 외국인번호
			TYPE3, # 여권번호
			TYPE4, # 운전면허번호
			TYPE5, # 카드번호
			TYPE6, # 계좌번호
			TYPE7, # 전화번호
			TYPE8, # 휴대폰번호
			(A.TYPE1 + A.TYPE2 + A.TYPE3 + A.TYPE4 + A.TYPE5 + A.TYPE6 + A.TYPE7 + A.TYPE8) AS TYPE,		# 총개수

			IFNULL(A.CREDATE, '') AS CREDATE, # 검출일
			A.REGDATE, # 업데이트일
			A.USER_NO AS ACCOUNT_USER_NO, # 기안자NO
			IFNULL((SELECT U.USER_NAME FROM PI_USER U WHERE U.USER_NO = A.USER_NO LIMIT 1), '') AS ACCOUNT_USER_NM,	# 기안자
			IFNULL(DATE_FORMAT(A.REGDATE, '%Y-%m-%d %H:%i:%s'), '') AS D_P_C_G_REGDATE, # 기안일
			A.OKUSER_NO AS OKUSER_NO,	# 결재자NO
			IFNULL((SELECT U.USER_NAME FROM PI_USER U WHERE U.USER_NO = A.OKUSER_NO LIMIT 1), '') AS OK_ACCOUNT_USER_NM,	# 결재자
			(CASE WHEN A.APPROVAL_STATUS='E' THEN '승인' WHEN A.APPROVAL_STATUS ='D' THEN '반려' WHEN A.APPROVAL_STATUS ='W' THEN '대기' ELSE '' END) AS APPROVAL_REGULT,
			A.PROCESSING_FLAG,					# 개인정보 여부(정탐 오탐) 코드
			A.IP, 
			IFNULL(A.DELDATE, '') AS DELDATE, 
			A.USER_NAME,
			(CASE WHEN A.PROCESSING_FLAG IN (1,2,3,4) THEN '정탐' WHEN A.PROCESSING_FLAG IN (5,6,7) THEN '오탐' ELSE '미처리' END) AS PROCESSING_FLAG_TYPE,		# 개인정보 여부(정탐 오탐)
			(CASE WHEN (SELECT 'DMZ' FROM pi_dmz DMZ WHERE DMZ.DMZ_IP = A.IP LIMIT 1) = 'DMZ' THEN 'DMZ' ELSE 'NOTDMZ' END) AS DMZ,
			(SELECT H.REASON FROM PI_DATA_PROCESSING_GROUP G, PI_DATA_PROCESSING_CHARGE_GROUP H 
				WHERE G.IDX = A.DATA_PROCESSING_GROUP_IDX AND G.DATA_PROCESSING_CHARGE_ID = H.DATA_PROCESSING_CHARGE_ID) AS D_P_C_G_REASON,	
			IFNULL((SELECT PROCESSING_FLAG_NAME FROM PI_DATA_PROCESSING_FLAG I WHERE I.PROCESSING_FLAG = A.PROCESSING_FLAG), '') AS PROCESSING_FLAG_NAME,				# 조치방법
			(SELECT NEXT_DATE_REMEDI FROM PI_DATA_PROCESSING_GROUP G WHERE G.IDX = A.DATA_PROCESSING_GROUP_IDX) AS D_P_G_NEXT_DATE_REMEDI,		
			(SELECT G.NOTE FROM PI_DATA_PROCESSING_GROUP G WHERE G.IDX = A.DATA_PROCESSING_GROUP_IDX) AS NOTE,
			IFNULL((CASE WHEN A.APPROVAL_STATUS IN ('E','D') THEN DATE_FORMAT(A.OKDATE, '%Y-%m-%d %H:%i:%s') ELSE NULL END), '') AS OKDATE
		FROM (SELECT
			F.GROUP_ID, F.HASH_ID, F.PATH, F.FID, F.OWNER, F.TARGET_ID, F.ACCOUNT, 
			SL.USER_NO, SL.OKUSER_NO, SL.APPROVAL_STATUS, SL.PROCESSING_fLAG, SL.DATA_PROCESSING_GROUP_IDX, SL.OKDATE,
			T.COMMENTS,
			(SELECT TG.NAME FROM PI_TARGET_GROUP TG WHERE ST.GROUPID = TG.IDX) AS GROUP_NAME,
			T.AP_NO,
			T.NAME,
			IF(SUBSTRING(T.PLATFORM, 1, 5) = 'Apple', SUBSTRING_INDEX(T.NAME, '.', -1), SUBSTRING_INDEX(T.NAME, '.', 1)) AS MAC_NAME,
			IF(SUBSTRING(T.PLATFORM, 1, 5) = 'Apple', SUBSTRING_INDEX(T.NAME, '.', 1), null) AS MAC_SERIAL,
			T.PLATFORM,
			(SELECT AG.AGENT_CONNECTED_IP FROM pi_agents AG WHERE T.NAME = AG.AGENT_NAME LIMIT 1) AS IP,
			U.USER_NAME AS USER_NAME,
			DATE_FORMAT(F.CREDATE, '%Y-%m-%d %H:%i:%s') AS CREDATE,
			DATE_FORMAT(F.REGDATE, '%Y-%m-%d %H:%i:%s') AS REGDATE,
			DATE_FORMAT(F.DELDATE, '%Y-%m-%d %H:%i:%s') AS DELDATE,
			SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'SOUTH KOREAN RRN') > 0 THEN S.MATCH_COUNT ELSE 0 END) AS TYPE1,
			SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'SOUTH KOREAN FOREIGNER NUMBER') > 0 THEN S.MATCH_COUNT ELSE 0 END)	AS TYPE2,
			SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'SOUTH KOREAN PASSPORT') > 0 THEN S.MATCH_COUNT ELSE 0 END) AS TYPE3, 
		    SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'SOUTH KOREAN DRIVER LICENSE NUMBER') > 0 THEN S.MATCH_COUNT ELSE 0 END) AS TYPE4,
		    SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'ACCOUNT NUMBER') > 0 THEN S.MATCH_COUNT ELSE 0 END)	AS TYPE5,
		    SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'VISA') > 0 THEN S.MATCH_COUNT ELSE 0 END) +
		    SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'MAESTRO') > 0 THEN S.MATCH_COUNT ELSE 0 END) +
		    SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'PRIVATE LABEL CARD') > 0 THEN S.MATCH_COUNT ELSE 0 END) +
		    SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'DINERS CLUB') > 0 THEN S.MATCH_COUNT ELSE 0 END) +
		    SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'JCB') > 0 THEN S.MATCH_COUNT ELSE 0 END) +
		    SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'LASER') > 0 THEN S.MATCH_COUNT ELSE 0 END) +
		    SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'CHINA UNION PAY') > 0 THEN S.MATCH_COUNT ELSE 0 END) +
	  		SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'DISCOVER') > 0 THEN S.MATCH_COUNT ELSE 0 END) +
			SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'TROY') > 0 THEN S.MATCH_COUNT ELSE 0 END) +
		    SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'MASTERCARD') > 0 THEN S.MATCH_COUNT ELSE 0 END) +
		    SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'AMERICAN EXPRESS') > 0 THEN S.MATCH_COUNT ELSE 0 END) AS TYPE6,

		    SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'EMAIL') > 0 THEN S.MATCH_COUNT ELSE 0 END)	AS TYPE7,
			(SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'SOUTH KOREAN MOBILE PHONE NUMBER') > 0 THEN S.MATCH_COUNT ELSE 0 END) +
			 SUM(CASE WHEN INSTR(UPPER(S.DATA_TYPE), 'SOUTH KOREAN PHONE NUMBER') > 0 THEN S.MATCH_COUNT ELSE 0 END))		AS TYPE8
		FROM (SELECT USER_NO, OKUSER_NO,
						 PROCESSING_FLAG, DATA_PROCESSING_GROUP_IDX,
						 APPROVAL_STATUS, TARGET_ID,
						 AP_NO, HASH_ID, OKDATE
				 FROM pi_data_processing
				 <if test="SCH_FROM_D_P_C_G_REGDATE != null and SCH_FROM_D_P_C_G_REGDATE != ''">
				 	WHERE REGDATE BETWEEN CONCAT(#{SCH_FROM_D_P_C_G_REGDATE},' 00:00:00') AND CONCAT(#{SCH_TO_D_P_C_G_REGDATE},' 23:59:59')
				 </if>			  
				) SL,
				pi_find F, pi_targets T
			LEFT OUTER JOIN skt_toms ST 		ON T.NAME = ST.HOSTNM
			LEFT OUTER JOIN PI_TARGET_USER TU	ON TU.TARGET_ID = T.TARGET_ID AND T.AP_NO = TU.AP_NO
			LEFT OUTER JOIN PI_USER U 			ON U.USER_NO = TU.USER_NO
			LEFT OUTER JOIN PI_GROUP G			ON U.INSA_CODE = G.INSA_CODE
			, pi_summary S
		WHERE SL.TARGET_ID = F.TARGET_ID
			AND SL.TARGET_ID = T.TARGET_ID
			AND SL.TARGET_ID = S.TARGET_ID
			AND SL.AP_NO = F.AP_NO
			AND SL.AP_NO = T.AP_NO
			AND SL.AP_NO = S.AP_NO	
			AND SL.HASH_ID = F.HASH_ID
			AND SL.HASH_ID = S.OBJECT_ID
			<if test="SCH_GROUP != null and SCH_GROUP != ''">
			AND G.TEAM_NAME = #{SCH_GROUP}
			</if>	
			<if test="SCH_TARGET != null and SCH_TARGET != ''">
			 AND T.NAME = #{SCH_TARGET}				# 기존 조회조건 : 호스트
			</if>
			AND T.AP_NO != 0
		GROUP BY F.HASH_ID, SL.TARGET_ID) A
			LEFT OUTER JOIN (SELECT 
								TU.TARGET_ID, TU.USER_NO, COUNT(TU.USER_NO) AS OWNER_CNT, U.USER_NAME, G.TEAM_NAME, TU.AP_NO
							FROM PI_TARGET_USER TU
							LEFT OUTER JOIN PI_USER U ON TU.USER_NO = U.USER_NO
							LEFT OUTER JOIN PI_GROUP G ON G.INSA_CODE = U.INSA_CODE
							GROUP BY TU.TARGET_ID
			) TU ON TU.TARGET_ID = A.TARGET_ID AND TU.AP_NO = A.AP_NO
		WHERE 1= 1

		HAVING TYPE != 0
		<if test="SCH_PROCESSING_FLAG != null and SCH_PROCESSING_FLAG != ''">
			<if test="SCH_PROCESSING_FLAG != '-1'">
				AND DP.PROCESSING_FLAG = #{SCH_PROCESSING_FLAG} 		# 추가 조회조건 : 처리구분
			</if>
			<if test="SCH_PROCESSING_FLAG == '-1'">
				AND DP.PROCESSING_FLAG IS NULL		# 미처리 항목만 조회
			</if>
		</if>
		ORDER BY A.TARGET_ID, A.PATH
	</select>
	
	<select id="getMonthlyReport" resultType="hashmap" parameterType="hashmap">
		SELECT
			TARGET_ID, YYYYMM, PATH, RRN, FOREIGNER
			, PASSPORT, DRIVER, ACCOUNT, CARD, PHONE
			, TOTAL, DEL, ENCODING, MASKING, CONFIRM_ETC
			, EXCEPTION, FALSE_AGREE, FALSE_ETC, TEMP_STOR, ACT
			, ACT_NOT ,(SELECT NAME FROM PI_TARGETS WHERE TARGET_ID = PMR.TARGET_ID) AS NAME
		FROM PI_MONTHLY_REPORT PMR
			WHERE YYYYMM = #{value}
		ORDER BY TARGET_ID
	</select>
	
	    <select id="searchTargetSummaryReport" parameterType="hashmap" resultType="hashmap">
    	SELECT D.*
		FROM (
			SELECT T.TARGET_ID, 
				T.AP_NO,
				T.NAME,
				COUNT(DISTINCT(F.HASH_ID)) AS PATH_CNT,
				IFNULL(T.AGENT_CONNECTED_IP,'-') AS AGENT_CONNECTED_IP,
				IFNULL(T.AGENT_CONNECTED, 1) AS AGENT_CONNECTED,
				IF(IFNULL(T.AGENT_CONNECTED, 1) = 0, '미연결', '연결') AS AGENT_CONNECTED_NM,
				<foreach collection="datatypesList" item="datatypesList">
					SUM(CASE WHEN S.PATTERN_IDX = #{datatypesList.type} THEN S.MATCH_COUNT ELSE 0 END) AS TYPE#{datatypesList.type},
				</foreach>
				IFNULL(SUM(S.MATCH_COUNT),0) AS TYPE,
				IFNULL(T.UPDATED,'미검색') AS SEARCH_TIME
				<!-- IFNULL(SL.UPDATED,'미검색') AS SEARCH_TIME -->
			FROM 
				(SELECT T.TARGET_ID,T.AP_NO,T.NAME,A.AGENT_CONNECTED_IP,A.AGENT_CONNECTED,SL.UPDATED FROM PI_TARGETS T
						LEFT OUTER JOIN (SELECT AGENT_CONNECTED_IP,AGENT_NAME,A.AP_NO,AGENT_CONNECTED FROM pi_agents a) A ON T.NAME = A.AGENT_NAME AND T.AP_NO = A.AP_NO
						LEFT OUTER JOIN (
							SELECT DATE_FORMAT(MAX(FROM_UNIXTIME(UPDATED)), '%Y-%m-%d %H:%i:%s') AS UPDATED,
									  TARGET_ID, AP_NO
								 FROM pi_scheduled_location
								 WHERE STATUS IN('completed', 'stopped', 'interrupted')
								 GROUP BY TARGET_ID, AP_NO	
						) SL ON SL.TARGET_ID = T.TARGET_ID AND SL.AP_NO = T.AP_NO
					WHERE 1=1
					<if test="targetList.size != 0">
			  			AND (T.TARGET_ID, T.AP_NO) IN
					  	<foreach item="item" index="index" collection="targetList" open="(" separator="," close=")">
			                (#{item.target_id}, #{item.ap_no})
			        	</foreach>
						<!-- AND T.NAME = #{SCH_TARGET}	 -->			# 기존 조회조건 : 호스트
					 </if>
					 AND T.TARGET_USE = 'Y'
				) T 
				LEFT OUTER JOIN pi_find F ON T.TARGET_ID = F.TARGET_ID AND T.AP_NO = F.AP_NO AND F.DELDATE IS NULL AND F.REMEDIATION_STATUS IS NULL
				<if test='DETECTION_OWNER!="" and DETECTION_OWNER!=null'>
					AND F.OWNER = #{DETECTION_OWNER}
				</if>
				LEFT OUTER JOIN (
						SELECT S.*,CP.PATTERN_IDX FROM pi_summary S, pi_custom_pattern CP WHERE INSTR(UPPER(S.DATA_TYPE), CP.PATTERN_CODE) > 0

					) S ON S.TARGET_ID = T.TARGET_ID AND S.AP_NO = T.AP_NO AND S.OBJECT_ID = F.HASH_ID AND S.DELDATE IS NULL
					
			WHERE 1 = 1
		GROUP BY T.TARGET_ID, T.AP_NO) AS D
		ORDER BY D.NAME
    
    </select>
</mapper>